<form action="list" method="post">

	<select name="fields">\n
		<option value="id">ID</option>
		<option value="title">Title</option>
		<option value="author">Author</option>
		<option value="language">Language</option>
		<option value="year">Year</option>
	</select>

	<input type="submit" value=Submit></input>
</form>