<h1>Listing adoptions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adoptions.each do |adoption| %>
      <tr>
        <td><%= link_to 'Show', adoption %></td>
        <td><%= link_to 'Edit', edit_adoption_path(adoption) %></td>
        <td><%= link_to 'Destroy', adoption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adoption', new_adoption_path %>
